[Unit]
Description=NGCP RTP/media Recording Daemon
After=network.target
After=remote-fs.target
Requires=network.target

[Service]
Type=simple
User=rtpengine
Group=rtpengine
PIDFile=/run/rtpengine/rtpengine-recording-daemon.pid
ExecStartPre=/usr/sbin/ngcp-rtpengine-recording-nfs-setup start
ExecStart=/usr/sbin/rtpengine-recording -f -E --pidfile /run/rtpengine/rtpengine-recording-daemon.pid --config-file /etc/rtpengine/rtpengine-recording.conf

[Install]
WantedBy=multi-user.target
